<section class="vh-100" style="background-color: #eeee">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-lg-9 col-xl-7">
        <div class="card rounded-3">
          <div class="card-body p-4" style="background-color:#9C12FF ;">

            <h4 class="text-center my-3 pb-3">To Do App</h4>

              <div class="col-12">
                <div class="form-outline">
                  <input type="text" #inputValue id="form1" class="form-control" />
                  <label class="form-label" for="form1">Enter a task here</label>
                </div>
              </div>

              <div class="col-12" *ngIf="!updateData">
                <button (click)="addData(inputValue)" class="btn btn-primary">Save</button>
              </div>
              <div class="col-12" *ngIf="updateData">
                <button (click)="saveUpdate(inputValue)" class="btn btn-primary">save update</button>
              </div>
              <div class="col-12" *ngIf="tasks.length >=1">
                <button type="submit" class="btn btn-warning" (click)="removeAll()">Remove all</button>
              </div>
           

            <table *ngIf="tasks" class="table mb-4">
              <thead>
                <tr>
                  <th scope="col">No.</th>
                  <th scope="col">Todo item</th>
                  <!-- <th scope="col">Status</th> -->
                  <th scope="col">Actions</th>
                </tr>
              </thead>
              <tbody *ngFor="let i of tasks">
                <tr>
                  <th scope="row">{{i.id +1}}</th>
                  <td>{{i.des}}</td>
                  <!-- <td></td> -->
                  <td>
                    <button type="submit" id="{{i.id}}" class="btn btn-danger" (click)="delete(i.id)">Delete</button>
                    <button type="submit" class="btn btn-success ms-1" (click)="update(inputValue,i.id)">update</button>
                  </td>
                </tr>
              </tbody>
            </table>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>